name: Install

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  CTEST_OUTPUT_ON_FAILURE: 1

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    
    - name: build and install library
      run: |
        CXX=g++-9 cmake -Sglue -Bbuild -DCMAKE_BUILD_TYPE=Release
        sudo cmake --build build --target install
        rm -rf build

    - name: configure
      run: CXX=g++-9 cmake -Stest -Bbuild -DTEST_INSTALLED_VERSION=1

    - name: build
      run: cmake --build build --config Debug -j4

    - name: test
      run: |
        cd build
        ctest --build-config Debug
